<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- Style Links -->
		<link rel="stylesheet" type="text/css" href="./css/styles.css" />

		<!-- Script Links -->
		<!-- <script src="./js/arrays.js"></script> -->
		<!-- <script src="./js/async.js"></script> -->
		<!-- <script src="./js/basics.js"></script> -->
		<!-- <script src="./js/hoisting.js"></script> -->
		<!-- <script src="./js/objects.js"></script> -->
		<script src="./js/promises.js"></script>

		<title>Learning Node & ES6 Features</title>
	</head>
	<body>
		<h1>JavaScript Refresher</h1>
		<div>
			<h1>Sections List</h1>
			<h1>Methods</h1>
			<code>
				const a = 10;
				const b = 20;

				const x = a + b;
			</code>
		</div>
	</body>
</html>